# Database - CockroachDB / PostgreSQL Connection String
DATABASE_URL="postgresql://user:password@host:26257/defaultdb?sslmode=verify-full"

# Site Public URLs
NEXT_PUBLIC_SITE_URL="https://lisistec.vercel.app"
NEXT_PUBLIC_SITE_NAME="Lisis Tecnologias e Serviços"
